% wr2100binary_to_h5odim configuration file
%
%
realtime_processing     0                               %1: cts processing for 3Drapic, 0: one pass for offline processing
v2_utc_offset           -10                             %offset in hours for calculating utc time for v2 files
%
input_path              /home/meso/temp/binary_20151221          %input folder/file containing wr2100 files (utility will scan through all folder within input too)
output_path             /home/meso/temp/h5_20151221              %output folder for h5odim files
kill_path               kill_wr2100binary_to_odimh5     %kill file name and path (delete this file to stop in cts mode)
fileList_path           etc/current_fileList.mat        %mat file containing list of files processed (list of processed files for cts mode)
