%dsp_upload configuration file
%
%Config
%
dataset_index           1
%
%Paths
%
local_data_path         C:/test/1234/                                         %local folder containing WR2100 binary files
s3_data_path            s3://roames_weather_vis/uqxpol_realtime_service/data/ %path to s3 data folder
sns_arn			arn:aws:sns:ap-southeast-2:979317741916:weather_realtime_uqxpol_data
ec2_id                  i-06537dbbb2f6fa89f
%
