%dsp_upload configuration file
%
%Config
%
dataset_index           3
%
%Paths
%
local_data_path         C:\Users\jss\Desktop\realtime_testing\                             %local folder containing WR2100 binary files
s3_data_path            s3://uqxpol-realtime-data/                                         %path to s3 data folder
sns_arn                 arn:aws:sns:ap-southeast-2:843176948043:uqxpol-realtime-ingest-sns
ec2_id                  i-0f46e9863f77e263b
%
% Location
%
ask_location            0
r_azi                   137         %degTN
r_lat                   -27.941     %decimal degrees
r_lon                   152.983     %decimal degrees
r_alt                   59          %m ASL
