%dsp_upload configuration file
%
%Paths
%
s3_data_path            s3://roames_weather_vis/uqxpol_realtime_service/data/ %path to s3 data folder
s3_webimg_path          s3://roames_weather_vis/uqxpol_realtime_service/web/img/ %path to s3 web images folder
sqs_url			https://sqs.ap-southeast-2.amazonaws.com/979317741916/joshuasoderholm_weather_realtime_uqxpol_data
%

