%wr2100binary_to_h5odim configuration file
%
%Processing options
%
realtime_processing     0                               %1: cts processing for 3Drapic, 0: one pass for offline processing
v2_utc_offset           -10                             %offset in hours for calculating utc time for v2 files
collate_volumes         1                               %1: collate scans into volumes for HSQ/SPPI/SRHI then convert to h5 or 0: convert as individual scans
%
%Paths
%
input_path              /home/meso/test-frn/            %input folder/file containing wr2100 files (utility will scan through all folder within input too)
output_path             /home/meso/test-odim/             %output folder for h5odim files
kill_path               kill_wr2100binary_to_odimh5     %kill file name and path (delete this file to stop in cts mode)
fileList_path           etc/current_fileList.mat        %mat file containing list of files processed (list of processed files for cts mode)
%
%over write settings (set to -999 to ignore)
%
radar_lat               -27.481172                      %decimal degree
radar_lon               152.563423                      %decimal degree
radar_h                 200                             %height AMSL in m
radar_heading           126.15                          %ONLY USE TRUE NORTH
radar_id                99                              %BOM radar network ID
